<!DOCTYPE html>
<html>
  <head>
    <title>Help | Code Farmers</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help on this sample app, see the <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a> book.
    </p>
  </body>
</html>
