<!DOCTYPE html>
<html>
  <head>
    <title>Home | Code Farmers</title>
  </head>
  <body>
    <h1>Code Farmers</h1>
    <p>
      This is the home page for Code Farmers, a sample Rails application built by an aspiring code wizard - <a href="http://tianyuancuipan.com/">Tianyuan Cui Pan</a>.
    </p>
  </body>
</html>
