<div class="center jumbotron">
  <h1>Welcome to Code Farmers</h1>
  <h2>
    This is the home page for Code Farmers, a sample Rails application built by an aspiring code wizard - <a href="http://tianyuancuipan.com/">Tianyuan Cui Pan</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="home-hero">
  <%= link_to image_tag("home.png", alt: "Logo"),
            'https://github.com/tianyuancuipan' %>
</div>
